.panda-bg-info {
    background: #0DCAF0;
}

.catagories img {
    width: 100px;
}

.panda-btn {
    color: #fff;
    background-image: linear-gradient(to bottom, #ff267b 0%, #FF136F 100%);
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    border: none;
}